.Home-education {
    margin-top: 20px;
    font-weight: bolder;
    font-size: 1.2em;
    background-color: rgb(255, 2555, 255);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.Home-education-item {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 10px 10px 10px rgb(246, 246, 246);
    border: 2px solid rgb(246, 246, 246);
    width: 98%;
    text-align: center;
}

.Home-education-info {
    margin-right: 0;
}

h4,h5,h6 {
    font-weight: bolder;
}

img.Education-logo {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgb(246, 246, 246);
}