.Home-projects {
    margin-top: 20px;
    font-weight: bolder;
    font-size: 1.2em;
    background-color: rgb(255, 2555, 255);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.Home-project {
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(246, 246, 246);
    border: 2px solid rgb(246, 246, 246);
    width: 50%;
    height: 100%;
    margin: 10px;
    padding: 10px;
}

.project-image {
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

.Home-project-image {
    height: fit-content;
    border-radius: 10px;
    text-align: center;
}

.Home-project-description {
    border-radius: 10px;
    text-align: center;
}

i {
    font-size: 1.5em;
    padding: 10px;
}

button.project-description {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(246, 246, 246);
    width: 90%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

button.project-description:hover {
    background-color: rgb(125, 71, 215);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 700px) {
    .Home-project {
        width: 100%;
        height: 100%;
        margin: 10px 0px 10px 0px;
    }
}
