.Home-about {
    margin-top: 20px;
    font-weight: bolder;
    font-size: 1.2em;
    background-color: rgb(255, 2555, 255);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.Home-about-info {
    margin: 25px;
    font-weight: bolder;
    font-size: 1em;
    color: rgb(51, 51, 51);
}